<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938235612443-d12b0qfd5shk5urvnbk37dl2h98fbuo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938235612443-d12b0qfd5shk5urvnbk37dl2h98fbuo9</string>
	<key>API_KEY</key>
	<string><your_key></string>
	<key>GCM_SENDER_ID</key>
	<string>938235612443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.discussify</string>
	<key>PROJECT_ID</key>
	<string>discussify-71059</string>
	<key>STORAGE_BUCKET</key>
	<string>discussify-71059.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938235612443:ios:6d641b9a538be0090d17be</string>
</dict>
</plist>
